<%- include ('./layouts/adminHeader') %>
<section class="p-4 my-container">
    <button class="btn my-4" id="menu-btn">Toggle Sidebar</button>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia deleniti nulla voluptatum placeat vero voluptatem beatae, quo delectus illum veritatis ipsum consectetur odit, porro esse eaque, iste deserunt alias expedita quidem ratione ex! Asperiores assumenda sint voluptatibus recusandae accusantium consequatur iure necessitatibus totam rerum quos, ullam animi pariatur eum tempore! Blanditiis qui numquam ullam quos maiores, est hic nesciunt assumenda voluptas dolorum iusto magni temporibus rerum optio aliquid id veniam officia! Rem, numquam repellat praesentium excepturi, id et in, quaerat sequi animi facilis temporibus ea? Non neque molestiae aperiam eos ut, quidem vel culpa reprehenderit ipsa sapiente at soluta exercitationem!</P>
    
</section>

<%- include ('./layouts/adminFooter') %>





