<%- include ("../layouts/header") %>
<div class="container" style="min-height: 80vh;">
   <h1><%=page.title.toUpperCase() %></h1> 
   <p>
      <%- page.content %>
   </p>
</div>  


<%- include ("../layouts/footer") %>