<%- include ("../layouts/header") %>
        

<div class="login">
  <h1>Login</h1>
  <form action="login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="input your Email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password"placeholder="input your Password" required>
    </div>

  <button class="btn btn-primary">Login</button>  
</form>
<a href="/register"><h3>register</h3> </a>  

</div>


  
  <%- include ("../layouts/footer") %>
